# task folders and key parameters config
TOKENIZER=./preliminary_enh/tokenizer.json
TOKENIZER_NAME=new_tokenizer
DATASET_NAME=some_name_dataset
COLUMN_KEY=text
PATH_TO_PREPROCESSING_METADATA=/capstor/scratch/cscs/kpitas/projects/test_text_tokenization/toy_text_data # Where dumps are stored
PATH_TO_OUTPUT_FOLDER=/capstor/scratch/cscs/kpitas/projects/test_text_tokenization/toy_text_data          # Where outputs are saved

# datatrove config
NUMBER_OF_DATATROVE_TASKS=20

# slurm config
ACCOUNT=infra01
NODES=1
GPUS=4
CPUS_PER_TASK=288
NO_REQUEUE="--no-requeue"
