# task folders and key parameters config
TOKENIZER=../preliminary_enh/tokenizer.json
TOKENIZER_NAME=preliminary_enh
DATASET_NAME=fineweb_edu
COLUMN_KEY=text
PATH_TO_RAW_DATASET=/capstor/store/cscs/swissai/infra01/datasets/HuggingFaceFW/fineweb-edu
PATH_TO_PREPROCESSING_METADATA=/capstor/store/cscs/swissai/infra01/datasets_tokenized/fineweb_edu_apertus_v2 # Where dumps are stored
PATH_TO_OUTPUT_FOLDER=/capstor/store/cscs/swissai/infra01/datasets_tokenized/fineweb_edu_apertus_v2          # Where outputs are saved
DUMPS_NUMBER=2700

# datatrove config
NUMBER_OF_DATATROVE_TASKS=20

# slurm config
ACCOUNT=infra01
NODES=1
GPUS=4
CPUS_PER_TASK=288
NO_REQUEUE="--no-requeue"
PARTITION=normal
TIME=00:20:00
