# task folders and key parameters config
TOKENIZER=../preliminary_mul_200k/tokenizer.json
TOKENIZER_NAME=preliminary_mul_200k
DATASET_NAME=swissai-fineweb-2-hq-mmbert-full-quality_33-filterrobots-fwedu_spp_annotated
COLUMN_KEY=text
PATH_TO_RAW_DATASET=/capstor/store/cscs/swissai/infra01/datasets/swissai-fineweb-2-hq-mmbert-full-quality_33-filterrobots-fwedu_spp_annotated
PATH_TO_PREPROCESSING_METADATA=/capstor/store/cscs/swissai/infra01/datasets_tokenized/swissai-fineweb-2-hq-mmbert-full-quality_33-filterrobots-fwedu_spp_annotated_apertus_v2 # Where dumps are stored
PATH_TO_OUTPUT_FOLDER=/capstor/store/cscs/swissai/infra01/datasets_tokenized/swissai-fineweb-2-hq-mmbert-full-quality_33-filterrobots-fwedu_spp_annotated_apertus_v2          # Where outputs are saved
DUMPS_NUMBER=2200 # size in GB is 50GB

# datatrove config
NUMBER_OF_DATATROVE_TASKS=1

# slurm config
ACCOUNT=infra01
NODES=1
GPUS=4
CPUS_PER_TASK=288
NO_REQUEUE="--no-requeue"
TIME=0:20:00
RESERVATION=SD-69241-apertus-1-5-0
PARTITION=normal
